{% extends "layout.njk"%}

{%block content%}

    <div class="about">
        <h1>Sobre o Foodfy</h1>
        <p>
            Suspendisse placerat neque neque. Morbi dictum  nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel
            lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada
            facilisis magna, vitae voulutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. 
            Duis vulputate varius justo phareta maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis,
            non dictum metus. Vivamos ligula ex, semper vitae eros ut, euismod convallis augue.<br>
        </p>
        <p>
            <br>Fusce nec pulvinar nunc. Duis porttitor trincidunt accusman. Quiseque pulvinar mollis ipsum ut accusman. Proin ligula
            lectus, rutrum vel nisl quis, efficitur porttitor nils. Morbi ut accusman felis, eu ultrices lacus. Integer in tincidunt arcu, et
            posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accusman. Donec libero neque, vulputate
            semper orci et malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
        </p>

        <h1>Como tudo começou...</h1>
            <p>
                Suspendisse placerat neque neque. Morbi dictum  nulla non sapien rhoncus, et mattis erat commodo. Aliquam vel
                lacus a justo mollis luctus. Proin vel auctor eros sed eleifend nunc. Curabitur eget tincidunt risus. Mauris malesuada
                facilisis magna, vitae voulutpat sapien tristique eu. Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa.
                Duis vulputate varius justo phareta maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis,
                non dictum metus. Vivamos ligula ex, semper vitae eros ut, euismod convallis augue.<br>
            </p>
            <p>
                <br>Fusce nec pulvinar nunc. Duis porttitor tincidunt accusman. Quiseque pulvinar mollis ipsum ut accusman. Proin ligula
                lectus, rutrum vel nisl quis, efficitur porttitor nils. Morbi ut accusman felis, eu ultrices lacus. Integer in tincidunt arcu, et
                posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accusman.Donec libero neque, vulputate
                semper orci et malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
            </p>
        
            <h1>Nossas receitas</h1>
            <p>
                Fusce nec pulvinar nunc. Duis porttitor tincidunt accusman. Quiseque pulvinar mollis ipsum ut accusman. Proin ligula
                lectus, rutrum vel nisl quis, efficitur porttitor nils. Morbi ut accusman felis, eu ultrices lacus. Integer in tincidunt arcu, et
                posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at accusman. Donec libero neque, vulputate
                semper orci et malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
            </p>
        
    </div>
    
{%endblock%}