{% extends "layout.njk"%}


{% block content %}
<div class="content">
        
    <main>
        <h1>As melhores receitas</h1>
        
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </main>

    <img src="/assets/chef.png" alt="">

</div>

<h1>Mais acessadas</h1>


<section class="cards">
   
    {% set length = recipes.length if recipes.length < 6 else 6 %}
    {% for recipe in recipes%}
    

    <div class="card" id="{{recipe.id}}">
        <div class="card_image">
            <img src='https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/{{recipe.id}}.png' alt="Imagem de {{recipe.id}}">
        </div>
        <div class="card_info">
            <p>{{recipe.title}}</p>
        </div>
        <div class="card_chef">
            <h3>por {{recipe.author}}</h3>
        </div>
    </div>  
    
    {%endfor%}
    <script src="/scripts/scripts.js"></script>

    
</section>
{%endblock%}
