<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/receitas.css">
    <link rel="stylesheet" href="/about.css">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <a href="/">
            <img class="logo" src="/assets/logo.png" href="/" alt="logo">
        </a>
        
        <a href="/about">Sobre</a>
        <a href="/receitas">Receitas</a>
    </header>

    {%block content%}


    {%endblock%}
   

    <footer>
        <p>© 2020 - Todos direitos reservados, receitas Foodfy.</p> 
        <a href="https://www.linkedin.com/in/felipe-pereira-ferreira-2573521b1/">Felipe Pereira Ferreira</a>
        
    </footer>

</body>
</html>