{% extends "layout.njk"%}

{% block content %}
<div class="content">
        
    <main>
        <h1>Ops. Receita não encontrada</h1>
        
        <p>A receita que você busca não está disponivel, tente novamente</p>
    </main>

    <img src="/assets/chef.png" alt="">

</div>

{%endblock%}