:root{
    --cor-preta: #111111 ;
    --cor-cinza: #777777;

}

* {
    margin: 0;
    padding: 0;
}

header{
    
    
    margin: 20px 231px;
    display: flex;
    align-items: center;
    
}

header img {
    width: 91px;
    height: 26.9px;
    margin-right: 100px;
   

}

header a {

    font-family: 'Roboto';
    font-size: 16px;
    color: var(--cor-preta);;
    text-decoration: none;
    line-height: 19px;
    margin-right: 40px;
    
}

header a:hover{

    text-decoration: underline;
}

.content {
    width: 935px;
    height: 366px;
    
    background: #FBDFDB ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
    position: relative;
    

}

.content main h1, p {
    margin-left: 45px;
} 


.content main h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: var(--cor-preta);;
    line-height: 38px;
    margin: 0 0 10px 60px;
}

.content main p{
    
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    color: #000000;

    font-size: 18px;
    
    line-height: 28px;
    max-width: 350px;
    margin-left: 60px;
}

.content img {
    
    width: 216px;
    height: 300px;
    position: absolute;
    right: 110px;
    bottom: 0;

}

h1 {

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--cor-preta);;

    margin: 50px 0px 0px 230px;
}

/* CARDS */

.cards {


    margin: 15px 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    

}

.card{

    cursor: pointer;
    
}

.card:hover{
    border-radius: 15px;
    border: solid 0.5px white;
    transition: 900ms;
}

.card_image img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card_info p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--cor-preta);;
}

.card_chef h3{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--cor-cinza);
}

footer{

    height: 50px;

    background: #EEEEEE;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #999999;
    padding: 0 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #999999;
}