/* MODAL */

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 100%;
    visibility: hidden;
}

.modal{
    width: 660px;
    height: 413px;
    margin: 150px auto;
    position: relative;
    background: #FFFFFF;
    border-radius: 16px;
    border-radius: 16px;
    opacity: 100%;
}

.modal .close-modal{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: #999999;
    position: absolute;
    right: 280px;
    bottom: 30px;
    cursor: pointer;
    
}


/* MODAL.ACTIVE */

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    
}


.modal.active{
        width: 100%;
        height: 100%;
        margin: 0 auto;
      
}

.image-modal img{
    width: 600px;
    height: 200px;
    margin: 25px 33px;
    border-radius: 15px;
}

.info-modal p {
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    color: #111111;
    text-align: center;
    margin: 10px;
}

.chef-modal h3{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: #777777;
    text-align: center;
    margin: 5px;
}