.recipe {
    margin: 0 230px;
    font-family: 'Roboto', sans-serif;
}
.recipe img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
}

.recipe .recipe-description h1 {
    font-size: 36px;
    color: var(--cor-preta);
    display: flex;
    margin-left: 315px;
   
    
}

.recipe .recipe-description p{

    font-size: 18px;
    color: var(--cor-cinza);
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.recipe-info dt{

    font-family: 'Roboto';
    font-weight: bold;
    margin: 15px 0;
    font-size: 24px;
    color: var(--cor-preto);
}



.recipe-info dd{

    font-family: 'Roboto', sans-serif;
    margin: 15px 0 50px 0;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

